page-videos {
    .toolbar-background-md{
        background-color: #000000!important;
       
    }
    .toolbar-title-md{
        color: aquamarine!important;
    }
    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default{
        color: aquamarine!important;
    }
    ion-content{
    background-color: #000000!important;
    color:#ffffff!important; 
    img{
        width: 100%;
        height: auto;
    }
    h3{
        color:aqua
    }
}


}
